#new-fighter {
    width: 70%;
    margin: 1rem auto;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.1);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#new-fighter > * {
    margin: 1rem;
}
